.candy-carousel {
    width: 50vw; 
    height: 50vh; 
    margin: auto; 
    overflow: hidden; 
  }
  
  .carousel {
    width: 100%; /* 100% ширины карусели */
    height: 100%; /* 100% высоты карусели */
    position: relative; /* Позиционирование относительно родительского элемента (.candy-carousel) */
  }
  
  .carouselInner {
    width: 50vw; 
    height: 50vh; 
    margin: auto; 
    overflow: hidden; 
    border-radius: 20px;
  }
  
  .carousel-item {
    width: 100%; /* 100% ширины элементов карусели */
    height: 100%; /* 100% высоты элементов карусели */
  }
  
  .carousel-item img {
    object-fit: cover; /* Растягивание изображений, чтобы они полностью заполнили контейнер */
  }
.fruit_kits{
    margin-top: 80px;
}
.headOfType{
    margin: 10vh 25vw 5vh;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: rgb(255, 230, 0);
    background-color: rgba(255, 0, 0, 0.397);
    border-radius: 20px;
    padding: 25px;
}

   