:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }

.container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .title {
    color: var(--color-text);
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .aboutImage {
    width: 35%;
    border-radius: 50%;
  
  }
  
  .aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 15px;
  }
  
  .aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
      90deg,
      rgba(165, 215, 232, 0.42) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 1s;
  }
  
  .aboutItem:hover {
    background-size: 100% 100%;
  }
  .aboutItem img{
    margin: 0 25px;
  }
  .aboutItemText {
    opacity: 1;
    transition: opacity 0.3s ease; 
  }
  
  /* .aboutItem:hover .aboutItemText {
    opacity: 1;
  } */
  
  .aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
  }
  
  .aboutItem p {
    font-size: 25px;
  }
.button_click{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 4px;
  overflow: hidden;
}
.button__line{
  position: absolute;
  display: block;
} 
.button__line__top{
  top: 0;
  left: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#2196f3);
}
.button_click:hover .button__line__top{
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s
}
.button__line__bottom{
  bottom: 0;
  left: 0;
  left: 100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#2196f3);
}
.button_click:hover .button__line__bottom{
  left: -100%;
  transition: 1s;
  transition-delay: 0.25s
}
.button__line__left{
  top: 100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent,#2196f3);
}
.button_click:hover .button__line__left{
  top: -100%;
  transition: 1s;
  transition-delay: 0.25s
}
.button__line__right{
  bottom: 100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent,#2196f3);
}
.button_click:hover .button__line__right{
  bottom: -100%;
  transition: 1s;
  transition-delay: 0.25s
}
.button_click:hover{
  transition-delay: 0.5s;
  box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
  background-color: #2196f3;
  color:#333 ;
  text-decoration: none;
}
  
  @media screen and (max-width: 830px) {
    .container {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }
  
    .content {
      flex-direction: column;
    }
  
    .aboutImage {
      display: none;
    }
  
    .aboutItems {
      margin-top: 29px;
    }
  
    .aboutItem {
      padding-left: 0;
      padding-right: 0;
    }
  }
  li img{
    margin-right: 15px;
  }
  .delivery{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 15px;
  }
  .delivery img{
    width: 40vw;
    border-radius: 25px;
  }
  .delivery span{
    align-items: center;
    margin: auto;
    font-size: 30px;
    background-color: #0b244762;
    padding: 45px 60px;
    border-radius: 25px;
    animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
  
  .takeAway{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 15px;
  }
  .takeAway img{
    width: 40vw;
    border-radius: 25px;
  }
  .takeAway span{
    align-items: center;
    margin: auto;
    font-size: 30px;
    background-color: #0b244762;
    padding: 45px 60px;
    border-radius: 25px;
    animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px) scale(1.1);
  }
  100% {
    transform: translate(0, -0px);
  }
} 
  .headOfType{
    margin: 10vh 25vw 5vh;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: rgb(255, 230, 0);
    background-color: rgba(255, 0, 0, 0.397);
    border-radius: 20px;
    padding: 25px;
}
  