/* body {
    margin: 0; 
    padding: 0; 
    background: rgb(255,255,255);
    background: linear-gradient(309deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(195,195,195,1) 75%);
    height: 100vh; 
    width: 100%; 
  } */
  /* body {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url('./components/img/Background.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./components/img/Background.PNG'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(10px);
  }
.App{
    background-color: rgba(128, 128, 128, 0.336);
    border-radius: 45px;
    margin: 40px;
} */
body {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('./components/img/Background.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Заполнение всей видимой области экрана */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./components/img/Background.PNG');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(10px);
}

.App {
  background-color: rgba(128, 128, 128, 0.336);
  border-radius: 45px;
  margin: 40px;
  height: 100%; 
}
  